<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>商品分类管理</title>
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/angularjs/angular.min.js"></script>
<script src="../js/base_nopagination.js"></script>
<script src="../js/service/itemCatService.js">
</script>
<script src="../js/service/typeTemplateService.js"></script>
<script src="../js/controller/baseController.js"></script>
<script src="../js/controller/itemCatController.js"></script>
<!--select2-->
<link rel="stylesheet" href="../plugins/select2/select2.css" />
<link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css" />
<script src="../plugins/select2/select2.min.js" type="text/javascript"></script>
<!--angularJs和select2整合-->
<script src="../js/angular-select2.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pyg"
	ng-controller="itemCatController"
	ng-init="findChildren(0);listTypeOption()">
	<!-- .box-body -->

	<div class="box-header with-border">
		<h3 class="box-title">商品分类管理</h3>
	</div>

	<div class="box-body">
		<ol class="breadcrumb">
			<li><a ng-click="grade=0;showBrandList({id:0})">顶级分类列表</a></li>
			<li><a ng-click="grade=1;showBrandList(entity_1)">{{entity_1.name}}</a></li>
			<li><a ng-click="grade=2;showBrandList(entity_2)">{{entity_2.name}}</a></li>
		</ol>
		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="新建"
							data-toggle="modal" data-target="#editModal" ng-click="entity={}">
							<i class="fa fa-file-o"></i> 新建
						</button>
						<button type="button" class="btn btn-default" title="删除" ng-click="dele()" >
							<i class="fa fa-trash-o"></i> 删除
						</button>
						<!--这里的刷新看后面能不能改下这里这样直接刷新顶级节点不好-->
						<button type="button" class="btn btn-default" title="刷新"
							ng-click="grade=0;showBrandList({id:0})">
							<i class="fa fa-check"></i> 刷新
						</button>
					</div>
				</div>
			</div>
			
			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right: 0px"><input
							type="checkbox" class="icheckbox_square-blue"></th>
						<th class="sorting_asc">分类ID</th>
						<th class="sorting">分类名称</th>
						<th class="sorting">类型模板ID</th>
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody ng-repeat="topNode in list">
					<tr>
						<td><input type="checkbox" ng-click="updateSelect($event,topNode.id)"></td>
						<td>{{topNode.id}}</td>
						<td>{{topNode.name}}</td>
						<!--如果再这里进行查询还还不如直接改数据库的表-->
						<td>{{topNode.typeId}}</td>
						<td class="text-center"><span ng-if="grade!=2">
								<button type="button" class="btn bg-olive btn-xs"
									ng-click="setGrade(grade+1);showBrandList(topNode)">查询下级</button>
						</span>
							<button type="button" class="btn bg-olive btn-xs"
								data-toggle="modal" data-target="#editModal" ng-click="findOne(topNode.id)">修改</button></td>
					</tr>
				</tbody>
			</table>
			{{selectIds}}
			<!--数据列表/-->
		</div>
		<!-- 数据表格 /-->
	</div>
	<!-- /.box-body -->


	<!-- 编辑窗口 -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">商品分类编辑</h3>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped" width="800px">
						<tr>
							<td>上级商品分类</td>
							<td ng-if="grade==0">顶级分类列表</td>
							<td ng-if="grade==1">{{entity_1.name}}</td>
							<td ng-if="grade==2">{{entity_2.name}}</td>
						</tr>
						<tr>
							<td>商品分类名称</td>
							<td><input class="form-control" placeholder="商品分类名称" ng-model="entity.name"/>
							</td>
						</tr>
						<tr>
							<td>类型模板</td>
							<!--这里是单选 不加multiple-->
							<!--数据库里面村的是类型的id但是这里查出来的模板的名字做一个下拉框里面是id感觉很不好-->
							<!--这里先绑定为typeName后面再从另一张表里面根据name把id查出来赋值给ebtity.typrId存到数据库中-->
							<!--用ng-model就是绑定的id。虽然绑定的是id但是显示的还是text。。。select-module绑定的是整个json数据-->
							<td><input select2 config="typeList" 
								ng-model="entity.typeId" placeholder="商品类型模板"
								class="form-control" type="text" /></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-dismiss="modal"
						aria-hidden="true" ng-click="save()">保存</button>
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>